body {
    font-size: 14px;
	font-family: helvetica, arial;
}
#content {
    width: 800px;
    margin: 0 auto;    
}
div.table {
    width: auto;
    margin: 10px;
    float: left;
}
div.table > span {
    margin-left: 25px;
}
div.spacer {
    width: auto;
    margin: 20px;
    padding-top: 30px;
}
.clear {
    clear: both;
}
div table th, div table td {
    border: 1px solid black;
    padding: 5px;
}
div table th {
    background-color: #A7C942;
    color: white;
}
div table {
    border-collapse: collapse;
}
pre {
    border: 1px solid black;
    background-color: #EEEEEE;
    float: left;
    padding: 10px;
    margin-top: 35px;
}
h1 {
    clear: both;
    color: #A7C942;
    border-bottom: 1px solid black;
}
h1 + * {
	padding-left: 5px;
}
#options {
    width: 700px;
    padding: 10px;
    font-size: 16px;
}
#options, #options td{
    border: 1px dashed black;
}
#options td {
    font-weight: bold;
    padding: 10px;
}
#options td+td {
    font-weight: normal;
}
#local2 {
    margin-left: 0;
}
